*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.headerSec{
    min-height: 70px;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid violet;
    background-color: #1C356A;
    
}
.headerSec h2{
    margin: 0;
    /**border-color: rgb(134, 238, 130);**/
    font-family: monospace;
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.headerSec div{
    display: flex;
    gap: 10px;
    text-align: end;
    padding-top: 15px;
}
.headerSec button{
    background-color: transparent;
    border: transparent;
    font-family: monospace;
    font-size: 15px;
    color: white;
}
.mainLayout{
    display: grid;
    grid-template-columns: 200px 1fr;

    min-height: calc(100vh - 70px);
}
.optionSec{
    padding: 15px;
    border: 3px solid rgb(238, 130, 130);
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #EBF7FA;
}
.optionSec button{
    width: 150;
    padding: 25px;
    
    margin-left: -16px;
    margin-right: -16px;
    border-right: none;
    border-left: none;
    background-color: transparent;
    border-style: none none groove none;
    border-color: #1C356A;
    border-width: 1px;
    font-family: monospace;
    color: #1C356A;
}
.optionSec #dashboardButton{
    margin-top: -15px;
}

/*DASHBOARD*/

.dashboardSec{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid rgb(38, 0, 255);
    background-color: #EBF7FA;
}
.dashboardSec .dashboardHead h3{
    font-family: consolas;
    font-size: 30px;
}
.dashboardSec .dashboardHead p{
    font-family: consolas;
}
.dashboardSec .dashboardDelOverview{
    border: #1C356A;
    border-style: solid;
}
.dashboardSec .dashboardDelOverview table{
    border: #1C356A;
    border-style: solid;
    text-align: center;
    margin: 10px;
    width: 97%;
}
/*DASHBOARD CARDS*/

.dashboardCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.dashboardCards div{
    padding: 5px;
    border: 2px solid #ddd;
}